* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	background: #000 url("../img/bg/bg.jpg") no-repeat 50% 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

h2 {
	font-size: 30px;
	line-height: 42px;
}

.main-index {
	width: 940px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.main-header {
	width: 100%;
}

.header-menu {
	background-color: #000;
	width: 100%;
	min-height: 72px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.header-menu-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto; 
}
.menu {
	display: flex;
	width: 547px;
	flex-wrap: wrap;
}
.menu a {
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color: rgb(255,255,255);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 5px 20px;

}
.user-block {
	display: flex;
	align-items: center;
	width: 70px;
	justify-content: space-around;
}
.user-block a {
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color: rgb(255,255,255);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.main-logo {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 80px;
}

.features {
	display: flex;
	margin-left: -10px;
}
.features-item {
	display: flex;
	flex-direction: column;
	align-items: center;

}
.features-title {
	font-size: 30px;
	line-height: 42px;
	color: rgb(247,244,241);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.features-item p {
	font-size: 14px;
	line-height: 24px;
	color: rgb(247,244,241);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
}
.diamond {
	width: 20px;
	height: 20px;
	background-color: #fff;
	transform: rotate(-45deg);
	margin: 15px;
}

.main-news-photo {
	width: 940px;
	min-height: 419px;

}