* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

h2 {
	font-size: 30px;
	line-height: 42px;
}

.main-index {
	width: 940px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.main-header {
	background-color: #000;
	width: 100%;
	min-height: 72px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.header-menu-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto; 
}
.menu {
	display: flex;
	width: 547px;
	flex-wrap: wrap;
}
.menu a {
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color: rgb(255,255,255);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 26px 20px;
	box-sizing: border-box;

}
.menu a:hover {
	background-color: #242424;
}

.user-block {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 107px;
	justify-content: center;
	box-sizing: border-box;
}
.user-block a {
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color: rgb(255,255,255);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 26px 25px;
	display: flex;
	align-items: center;
}
.user-block img {
	margin-right: 10px;
	margin-bottom: -2px;
	opacity: 0.3;
}

.user-block:hover {
	background-color: #242424;
}
.user-block:hover img {
	opacity: 1;
}

.active::after {
	content: '';
	background: #fff;
	height: 2px;
	width: 100%;
	display: block;
	margin-top: 26px;
	margin-bottom: -26px;
}

.main-logo {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 80px;
}

.features {
	display: flex;
	margin-left: -10px;
}
.features-item {
	display: flex;
	flex-direction: column;
	align-items: center;

}
.features-title {
	font-size: 30px;
	line-height: 42px;
	color: rgb(247,244,241);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.features-item p {
	font-size: 14px;
	line-height: 24px;
	color: rgb(247,244,241);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	padding-bottom: 0;
}
.diamond {
	width: 20px;
	height: 20px;
	background-color: #fff;
	transform: rotate(-45deg);
	margin: 15px;
}

.main-news-photo {
	width: 940px;
	min-height: 419px;
	padding: 47px 80px;
	margin-top: 85px;
	background-color: #f7f4f1;
	color: #000;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}
.news-title {
	font-size: 30px;
	line-height: 42px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 22px; 
}
.news-preview {
	margin-bottom: 35px;
}
.news-preview p {
	width: 350px;
	min-height: 96px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
}
.news-preview time {
	text-transform: none;
}

.btn {
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	padding: 13px 34px;
}

.main-photo .news-title {
	padding-left: 2px;
}
.gallery {
	margin-bottom: 40px;
}
.gallery-content {
	display: flex;
	border: 7px solid #fff;
}
.buttons {
	display: flex;
	justify-content: space-between;
}
.main-photo .buttons .btn {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0;
	padding-left: 0;
	width: 47%;
	text-align: center;
}

.main-about {
	width: 940px;
	min-height: 419px;
	padding: 47px 80px;
	margin-top: 85px;
	background-color: #f7f4f1;
	color: #000;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.main-contacts p {
	width: 350px;
	min-height: 96px;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.content-column-title {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 22px;
	font-weight: bold;
}
.main-contacts .buttons {
	width: 300px;
}

.main-contacts .buttons .btn {
	padding: 10px 31px;
}
.main-contacts .buttons .btn:last-child {
	padding: 10px 25px;
}

.main-form {
	width: 300px;
}

.main-form form {
	display: flex;
	flex-wrap: wrap;
}

.main-form input {
	font-family: 'PT Sans Narrow', sans-serif;
	width: 140px;
	height: 43px;
	font-size: 14px;
	line-height: 24px;
	padding: 10px 15px;
	box-sizing: border-box;
	border: 2px solid black;
	margin-bottom: 9px;
}

.main-form p {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1px;
	margin-bottom: 12px;
}

.main-form label {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 17px;
	margin-bottom: 7px;
}

.main-form .left {
	display: flex;
	flex-direction: column;
}

.main-form .right {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.main-form .right input:last-child {
	padding: 10px 13px;
	margin-bottom: 20px;
}

.main-form .btn {
	width: 300px;
	height: 43px;
	margin-bottom: 0;
}

.main-footer {
	min-height: 193px;
	min-width: 100%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: #242424;
}
.footer-block {
	min-width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: #242424;
	margin-top: 58px;
	margin-bottom: 39px;
}
.footer-contacts a {
	color: #fff;
}

.footer-social {
	margin-right: 120px;
}

.social-btn {
	display: inline-block;
	background-color: #000;
	height: 43px;
	width: 43px;
	color: #fff;
	text-align: center;
	padding-top: 7px;
	box-sizing: border-box;
	margin-right: 6px;
}

.footer-social p {
	margin-bottom: 15px;
	margin-left: 17px;
}
.footer-copyright p {
	margin-bottom: 25px;
	margin-left: 30px;
}
