* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 20px;
}

h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}
.container {
	width: 1160px;
	margin: 0 auto;
}


.flex_it {
	display: flex;
	justify-content: space-between;
}

.main-header {
	padding-top: 50px;
	height: 545px;
	background-color: #eeeeee;
	box-sizing: border-box;
}

.header-top {
	height: 70px;
}
.header-top .logo {
	margin-right: 10px;
}
.header-top .logo:hover {
	opacity: .75;
}
.header-top .logo:active {
	opacity: .3;
}
.header-menu {
	width: 480px;
	list-style-type: none;
	justify-content: space-around;
	box-sizing: border-box;
}
.header-menu li,
.buy-block {
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.header-menu li a,
.buy {
	font-size: 16px;
	line-height: 60px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-weight: 500;
	padding: 0 25px;
}
.header-menu li a:hover,
.buy:hover span {
	color: rgb(251,86,90);
}
.header-menu li a:active,
.buy:active span {
	color: #000;
	opacity: .3;
}
.buy-block i {
	opacity: .3;
}
.buy-block span {
	margin-left: 25px;
}
.header-menu .active {
	margin-top: 2px;
}
.header-menu .active:after {
	position: relative;
	top: -12px;
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fb5559;
}

.slide-left h1 {
	margin-top: 77px;
	margin-bottom: 30px;
}
.slide-left p {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 55px;
}
.slide-1 .slide-left {
	width: 380px;
}
.slide-2 .slide-left h1 {
	position: absolute;
	width: 600px;
}
.slide-2 .slide-left p {
	margin-top: 217px;
	width: 500px;
}
.slide-3 .slide-left h1 {
	position: absolute;
	width: 500px;
}
.slide-3 .slide-left p {
	margin-top: 217px;
	width: 396px;
}
.slide-left .btn {
	width: 240px;
	height: 50px;
	padding: 15px 55px;
	border-radius: 3px;
	color: #fff;
	background-color: #fb5559;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
}
.slide-left .btn:hover {
	background-color: #e74246;
}
.slide-left .btn:active {
	box-shadow: inset 0 3px rgba(0,0,0, .1);
	background-color: #d7363a;
	color: #e26f72;
}
.slide-1 .slide-right {
	margin-top: 11px;
}
.slide-2 .slide-right {
	margin-top: -5px;
}
.slide-3 .slide-right {
	margin-top: 13px;
}

.products {
	margin-top: 80px;
	margin-bottom: 93px;
}
.products .product-item h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 20px;
}
.products .product-item .text-item {
	width: 260px;
	font-size: 16px;
	line-height: 24px;
	color: rgb(40,49,54);
	margin-bottom: 46px;
}
.products .product-item .btn {
	width: 160px;
	height: 50px;
	padding: 15px 55px;
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
}
.products .item-1 .btn {
	background-color: #fb5559;
}
.products .item-2 .btn {
	background-color: #00c973;
}
.products .item-3 .btn {
	background-color: #efc849;
}
.products .item-1 .btn:hover {
	background-color: #e74246;
}
.products .item-2 .btn:hover {
	background-color: #00bc6b;
}
.products .item-3 .btn:hover {
	background-color: #eab434;
}
.products .item-1 .btn:active {
	background-color: #d7363a;
	color: #e37375;
}
.products .item-2 .btn:active {
	background-color: #00aa61;
	color: #4dc491;
}
.products .item-3 .btn:active {
	background-color: #e5a722;
	color: #edc265;
}
.products .product-item .btn:active {
	box-shadow: inset 0 3px rgba(0,0,0, .1);
}

.main-index hr {
	opacity: .3;
}

.about {
	margin-top: 40px;
	margin-bottom: 72px;
}
.about .about-list-title {
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
}
.about .about-left {
	padding-top: 35px;
	width: 655px;
}
.about .about-right {
	width: 360px;
}
.about .about-left .about-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}
.about .about-left .about-text {
	margin-top: 32px;
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 24px;
	color: rgb(40,49,54);
}
.about .about-left .about-list {
	list-style-type: none;
}
.about .about-left .about-list li {
	position: relative;
	margin-top: 24px;
	padding-left: 36px;
	font-size: 16px;
	line-height: 24px;
}
.about .about-left .about-list li:before {
	position: absolute;
	top: 10px;
	left: 0;
	content: '';
	display: block;
	height: 2px;
	width: 25px;
	background-color: #fb5559;
}
.about .about-right img {
	margin-bottom: 32px;`
}
.about .about-right .about-list-title {
	padding-left: 10px;
}
.about .about-right .percents {
	display: flex;
	justify-content: space-between;
	margin-top: 58px;
}
.about-right .percents .about-item {
	position: relative;
	width: 30%;
}
.percents .about-item .percent-value {
	margin-bottom: 22px;
}
.percents .about-item .percent {
	font-size: 45px;
	line-height: 10px;
	font-weight: bold;
	margin-bottom: 30px;
}
.percents .about-item .symbol {
	position: absolute;
	top: -5px;
	font-size: 26px;
	line-height: 10px;
	font-weight: bold;
}
.percents .about-item {
	font-size: 16px;
	line-height: 18px;
	color: rgb(40,49,54);
}

.partners {
	margin-top: 60px;
	margin-bottom: 38px;
	box-sizing: border-box;
}
.partners .partners-list {
	list-style-type: none;
	margin-left: 29px;
	margin-right: 40px;

}
.partners .partners-list .partner-3 {
	margin-right: 20px;
}
.partners .partners-list li:nth-child(2n) {
	margin-top: -15px;
}
.partners .partners-list li{
	position: relative;
}
.partners .partners-list li:after {
	position: absolute;
	content: '';
	display: block;
	height: 52px;
	width: 2px;
	background-color: rgba(0,0,0,.1);
}
.partners .partners-list .partner-1:after {
	top: 0;
	right: -55px;
}
.partners .partners-list .partner-2:after {
	top: 15px;
	right: -55px;
}
.partners .partners-list .partner-3:after {
	top: 0px;
	right: -58px;
}
.partners .partners-list .partner-4:after {
	display: none;
}
.partners .partners-list img {
	opacity: .2;
}
.partners .partners-list img:hover {
	opacity: 1;
}
.partners .partners-list img:active {
	opacity: .1;
}
.map {
	margin-top: 300px;
}

.main-footer .social {
	width: 260px;
	padding: 70px 0;
}
.social .btn-social {
	background-color: #e1e1e1;
	border-radius: 40px;
	color: #fff;
}
.social .btn-social:hover {
	background-color: #e74246;
}
.social .btn-social:active {
	background-color: #d7363a;
	color: #e37375;
}
.social .btn-vk {
	padding: 29px 28px;
}
.social .btn-fb {
	padding: 29px 32px;
}
.social .btn-inst {
	padding: 29px 29px;
}
.footer-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 200px;
}
.footer-right .footer-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}
.footer-right .footer-text {
	margin-top: 10px;
	font-size: 16px;
	line-height: 22px;
}
.main-location {
	position: relative;
}
#map {
	margin-top: 80px;
	width: 100%;
	height: 415px;
}
.map-info {
	position: absolute;
	top: 50px;
	left: 100px;
	flex-direction: column;
	width: 320px;
	height: 308px;
	background-color: #fff;
	padding: 50px;
	box-sizing: border-box;
}
.map-info-title {	
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
}
.map-info-text {
	color: rgb(102,102,102);
}
.map-info .btn {
	width: 220px;
	height: 50px;
	padding: 15px 45px;
	margin-top: 20px;
	border-radius: 3px;
	color: #fff;
	background-color: #fb5559;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	box-sizing: border-box;
}

.write-us {
	position: fixed;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	z-index: 99999;
	pointer-events: none;
	display: none;
	flex-direction: column;
	padding: 100px;
	padding-top: 50px;
	margin: 0 auto;
	width: 960px;
	height: 590px;
	box-sizing: border-box;	
	box-shadow: 0px 20px 50px 0px rgba(0,0,0,.75);
}
.write-us:target {
	display: block;
	pointer-events: auto;
}
.write-us h2 {
	font-size: 45px;
	line-height: 45px;
	margin-bottom: 35px;

}
.write-us form {
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}
.form-name,
.form-mail,
.write-us-text {
	flex-direction: column;
}
.write-us label {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}
.write-us input {
	padding: 15px;
	margin-top: 10px;
	box-sizing: border-box;
}
input[type="text"] {
	width: 360px;
	height: 48px;
	margin-bottom: 10px;
	border: 2px solid #d7dbdd;
	border-radius: 3px;
}
input[type="text"]:hover,
textarea:hover {
	border: 2px solid #b3b8bb;
}

input[type="text"]:focus,
textarea:focus  {
	outline: none;
	border: 2px solid black;
}
input[type="text"]:invalid {
	border: 2px solid red;
	color: red;
}


textarea {
	padding: 15px;
	margin-top: 10px;
	border: 2px solid #d7dbdd;
	border-radius: 3px;
	box-sizing: border-box;
}

.write-us .btn {
	width: 260px;
	height: 50px;
	padding: 15px 45px;
	margin-bottom: 50px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	color: #fff;
	background-color: #fb5559;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	box-sizing: border-box;
 }
.close-block {
	opacity: .3;
}
.close-block:hover {
	opacity: 1;
}
.close-block:active {
	opacity: .1;
}
 .close-block:after,
 .close-block:before {
 	position: absolute;
	display: block;
	content: '';
	background: #fb565a;
	height: 19px;
	width: 4px;
	right: 100px;
	top: 65px;
	border-radius: 1px;
 }
 .close-block:before {
 	transform: rotate(-45deg);
 }
 .close-block:after {
 	transform: rotate(45deg);
 }

 .main-header .catalog-title {
 	text-align: center;
 	margin-top: 150px;
 	font-size: 55px;
 	line-height: 55px;
 	font-weight: 500;
 }

.main-catalog-block .filter {
	width: 280px;
	margin-top: 50px;
}
.main-catalog-block .items {
 	width: 760px;
	margin-top: 50px;
 }
.items-main {
	flex-wrap: wrap;
}

 .items-main .catalog-item {
 	width: 360px;
 	height: 616px;
 	margin-bottom: 31px;
 	overflow: hidden;
 }

 .catalog-item .catalog-item-head {
 	height: 40px;
 	width: 360px;
 	margin: 0;
	padding-top: 13px;
	padding-left: 39px;
 	background: #e9e9e9;
 	border-radius: 5px 5px 0 0;
 	box-sizing: border-box;
 	transition: all .5s ease-in-out;
 }
 .catalog-item-head .circle {
 	position: relative;
 	height: 15px;
 	width: 15px;
 	background: #fff;
 	border-radius: 10px;
 }
 .catalog-item-head .circle:before {
 	position: absolute;
	left: -23px;
 	display: block;
 	content: '';
 	height: 15px;
 	width: 15px;
 	background: #fff;
 	border-radius: 10px;

 }
 .catalog-item-head .circle:after {
 	position: absolute;
	right: -23px;
 	display: block;
 	content: '';
 	height: 15px;
 	width: 15px;
 	background: #fff;
 	border-radius: 10px;
 }
 .catalog-item .catalog-item-hover {
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	height: 230px;
 	width: 360px;
 	background: #eeeeee;
 	transition: all .5s ease-in-out;
 }
 .catalog-item:hover .catalog-item-hover {
 	transform: translatey(-235px);
 }
 .catalog-item:hover .catalog-item-head {
 	background: #4d4d4d;
 }
 .catalog-item-hover .btn {
 	width: 200px;
	height: 50px;
	padding: 18px 60px;
	margin-bottom: 20px;
	border-radius: 3px;
	color: #fff;
	background-color: #fb5559;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	box-sizing: border-box;
 }
.catalog-item-hover .item-hover-title {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.catalog-item-hover .item-hover-about {
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #666666;
}

.items-head .sorting {
	position: relative;
	width: 330px;
	margin-right: 50px;

}
.items-head .sorting a {
	font-size: 14px;
	line-height: 18px;
	margin-right: 27px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

 .it_is {
 	font-size: 18px;
 	line-height: 18px;
 	font-weight: bold;
 	text-transform: uppercase;
 }
 .cost .it_is,
 .items-head .it_is {
 	margin-bottom: 57px;
 }
 .sorting .last:before {
 	position: absolute;
 	right: 0;
 	top: 5px;
 	content: '';
 	border: 6px solid transparent;
	border-top: 10px solid #000;
	display: block;
	width: 0;
	height: 0;
 }
 .sorting .last:after {
 	position: absolute;
 	right: -15px;
 	top: -1px;
 	content: '';
 	border: 6px solid transparent;
	border-bottom: 10px solid #a5a5a5;
	display: block;
	width: 0;
	height: 0;
 }